:root {
  --main-color: #0A1A32;

  --black: #000;
  --black150: rgba(0, 0, 0, 0.15);
  --black200: rgba(0, 0, 0, 0.2);
  --black250: rgba(0, 0, 0, 0.25);
  --white: #FFF;
  --white50: #F8FAFF;
  --white100: rgba(255, 255, 255, 0.1);
  --white200: rgba(255, 255, 255, 0.2);
  --white400: rgba(255, 255, 255, 0.4);
  --white500: rgba(255, 255, 255, 0.5);
  --white600: rgba(255, 255, 255, 0.6);
  --white700: rgba(255, 255, 255, 0.7);
  --white800: rgba(255, 255, 255, 0.8);
  --white950: rgba(255, 255, 255, 0.95);
  --grey50: #363434;
  --grey100: #767676;
  --grey150: #FBFCFC;
  --grey200: #4F4F4F;
  --grey200_10: rgba(79, 79, 79, 0.1);
  --grey200_60: rgba(79, 79, 79, 0.6);
  --grey300: #F8FDFE;
  --grey350: #C3C3CF;
  --grey400: #EDF2F7;
  --grey500: #828282;
  --grey600: #D9D9D9;
  --grey600_20: rgba(217, 217, 217, 0.2);
  --grey600_80: rgba(217, 217, 217, 0.8);
  --grey650: #606060;
  --grey650_80: rgba(96, 96, 96, 0.8);
  --grey700: #BDBDBD;
  --grey800: #E6E6E6;
  --yellow100: #FFF7E7;
  --yellow200: #FEE8B1;
  --yellow700: #CE843F;
  --yellow800: #CE673B;
  --yellow800_10: rgba(206, 103, 59, 0.1);
  --yellow800_20: rgba(206, 103, 59, 0.2);
  --yellow800_80: rgba(206, 103, 59, 0.8);
  --yellow900_30: rgba(254, 232, 177, 0.3);
  --blue: #1093F5;
  --blue50: #a3bed8;
  --blue50_01: rgba(163, 190, 216, 0.01);
  --blue50_05: rgba(163, 190, 216, 0.05);
  --blue50_10: rgba(163, 190, 216, 0.1);
  --blue50_20: rgba(163, 190, 216, 0.2);
  --blue50_40: rgba(163, 190, 216, 0.4);
  --blue50_50: rgba(163, 190, 216, 0.5);
  --blue50_60: rgba(163, 190, 216, 0.6);
  --blue100: #AAD2F2;
  --blue150: #E5ECF3;
  --blue100_5: rgba(170, 210, 242, 0.05);
  --blue200: #0C106B;
  --blue300: #0A1A32;
  --blue300_015: rgba(10, 26, 50, 0.015);
  --blue300_5: rgba(10, 26, 50, 0.05);
  --blue300_10: rgba(10, 26, 50, 0.1);
  --blue300_20: rgba(10, 26, 50, 0.2);
  --blue300_30: rgba(10, 26, 50, 0.3);
  --blue300_40: rgba(10, 26, 50, 0.4);
  --blue300_60: rgba(10, 26, 50, 0.6);
  --blue300_80: rgba(10, 26, 50, 0.8);
  --blue300_90: rgba(10, 26, 50, 0.9);
  --blue400: #0A1B80;
  --blue400_5: rgba(10, 27, 128, 0.05);
  --blue500: #000B1D;
  --blue500_10: rgba(0, 11, 29, 0.1);
  --blue500_20: rgba(0, 11, 29, 0.2);
  --blue500_50: rgba(0, 11, 29, 0.5);  
  --blue500_60: rgba(0, 11, 29, 0.6);
  --blue600: #003A4F;
  --blue700_50: rgba(12, 127, 145, 0.5);
  --blue800_40: rgba(0, 92, 127, 0.4);
  --green300: #34C77B;
  --green300_10: rgba(52, 199, 123, 0.10);
  --green300_40: rgba(52, 199, 123, 0.40);
  --green400_20: rgba(61, 70, 74, 0.20);
  --red400: #ED4C5C;
  --red600: #E62929;
  --red700: #FF4A4A;
  --red800: #EB5757;
  --red800_10: rgba(235, 87, 87, 0.10);
  --red800_40: rgba(235, 87, 87, 0.40);
  --radius: 4px;
  --font-family: "SF-Pro-Display";
  --root-font: "RedHatDisplay";
}